h1{
    background-color: antiquewhite;
    color: white;
    font-size: 60px;
    text-align: center;
}
p{
    background-color: aliceblue;
    
    font-size: 20px;
    text-align: center;
}
ul{
    display: flex;
    gap: 10px;
}
li{
    list-style: none;
}